
@model Credens.BLL.DTO.DTO<Project>
@{
    ViewData["Title"] = "Project";
}

<div class="text-center">
    <h1 class="display-4">GetById</h1>
    <p>Project By Id</p>
</div>

<div>
        <p> @Model.Data.OrderName</p>
        <p> @Model.Data.Price</p>
        <p> @Model.Data.City</p>
</div>
