@model IEnumerable<Credens.Presentation.ViewModels.ProjectViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>Projects_List</h1>

@foreach(var obj in Model)
{
    <p>@obj.OrderName</p>
    <p>@obj.Price</p>
}
