
@model IQueryable<Credens.DAL.Domain.Entities.Project>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>
    <p>HIHIHI</p>
</div>

<div>
   
        @foreach (var ob in Model)
        {
            <p> @ob.Fio</p>
            <p> @ob.Name</p>
            <p> @ob.Address</p>
            <p> @ob.Price</p>
        }

</div>
