
@model Credens.BLL.DTO.DTO<IEnumerable<Project>>

@{
    ViewData["Title"] = "MyGet2";
}

<div class="text-center">
    <h1 class="display-4">MyGet2</h1>
    <p>HOHOHOHO</p>
</div>

<div>
    @foreach(var ob in Model.Data)
    {
        <p> @ob.OrderName</p>
        <p> @ob.City</p>
        <p> @ob.Price</p>
   
    }
</div>
