
@model Credens.BLL.DTO.Dto<IQueryable<Project>>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>
    <p>HIHIHI</p>
</div>

<div>
    @foreach(var ob in Model.Data)
    {
        <p> @ob.Fio</p>
        <p> @ob.Name</p>
        <p> @ob.Price</p>
    }
</div>
